
entities/decoration/fireplace-old/fireplace.json
entities/decoration/fireplace-old/fireplace.png
entities/decoration/fireplace-old/fireplace.qb
entities/decoration/fireplace-old/fireplace_ghost.json
entities/decoration/fireplace-old/fireplace_iconic.json
entities/decoration/fireplace-old/fireplace_iconic.qb
